/* Importa a fonte 'Oxanium' do Google Fonts com diferentes pesos */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

/* Reseta margens e preenchimentos de todos os elementos, define box-sizing e a fonte padrão */
* {
  margin: 0; /* Remove margens padrão */
  padding: 0; /* Remove preenchimentos padrão */
  box-sizing: border-box; /* Inclui bordas e preenchimentos na largura e altura total */
  font-family: 'Oxanium', cursive; /* Define a fonte padrão para o projeto */
}

/* Estiliza o corpo da página */
body {
  text-align: center; /* Centraliza o texto */
  background: linear-gradient(to bottom, #6ab7f5, #fff); /* Define um fundo com gradiente */
  min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura total da viewport */
}

/* Estiliza o elemento principal */
main {
  display: inline-block; /* Permite que o main se comporte como um bloco inline */
  margin-top: 2%; /* Adiciona uma margem superior */
  padding: 15px; /* Adiciona preenchimento interno */
  position: relative; /* Permite posicionamento absoluto de elementos filhos */
}

/* Estiliza a classe pokedex */
.pokedex {
  width: 100%; /* Largura total do contêiner */
  max-width: 425px; /* Largura máxima para o contêiner */
}

/* Estiliza a imagem do Pokémon */
.pokemon__image {
  position: absolute; /* Permite posicionamento absoluto */
  bottom: 55%; /* Posiciona a imagem a 55% da parte inferior do contêiner pai */
  left: 50%; /* Centraliza horizontalmente */
  transform: translate(-63%, 20%); /* Ajusta a posição da imagem */
  height: 18%; /* Define a altura da imagem */
}

/* Estiliza os dados do Pokémon */
.pokemon__data {
  position: absolute; /* Permite posicionamento absoluto */
  font-weight: 600; /* Define o peso da fonte */
  color: #aaa; /* Define a cor do texto */
  top: 54.5%; /* Posiciona os dados a 54.5% da parte superior do contêiner pai */
  right: 27%; /* Posiciona os dados a 27% da borda direita */
  font-size: clamp(8px, 5vw, 25px); /* Define um tamanho de fonte responsivo */
}

/* Estiliza o nome do Pokémon */
.pokemon__name {
  color: #3a444d; /* Define a cor do nome */
  text-transform: capitalize; /* Capitaliza a primeira letra de cada palavra */
}

/* Estiliza o formulário de busca */
.form {
  position: absolute; /* Permite posicionamento absoluto */
  width: 65%; /* Define a largura do formulário */
  top: 65%; /* Posiciona o formulário a 65% da parte superior do contêiner pai */
  left: 13.5%; /* Posiciona o formulário a 13.5% da borda esquerda */
}

/* Estiliza o campo de busca */
.input__search {
  width: 100%; /* Largura total do campo de busca */
  padding: 4%; /* Adiciona preenchimento interno */
  outline: none; /* Remove o contorno padrão ao focar */
  border: 2px solid #333; /* Define a borda do campo */
  border-radius: 5px; /* Arredonda os cantos da borda */
  font-weight: 600; /* Define o peso da fonte */
  color: #3a444d; /* Define a cor do texto */
  font-size: clamp(8px, 5vw, 1rem); /* Define um tamanho de fonte responsivo */
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333; /* Adiciona sombra ao campo */
}

/* Estiliza o contêiner de botões */
.buttons {
  position: absolute; /* Permite posicionamento absoluto */
  bottom: 10%; /* Posiciona o contêiner a 10% da parte inferior do contêiner pai */
  left: 50%; /* Centraliza horizontalmente */
  width: 65%; /* Define a largura do contêiner de botões */
  transform: translate(-57%, 0); /* Ajusta a posição do contêiner */
  display: flex; /* Usa flexbox para alinhar os botões */
  gap : 20px; /* Define um espaço entre os botões */
}

/* Estiliza cada botão */
.button {
  width: 50%; /* Define a largura de cada botão */
  padding: 4%; /* Adiciona preenchimento interno */
  border: 2px solid #000; /* Define a borda do botão */
  border-radius: 5px; /* Arredonda os cantos da borda */
  font-size: clamp(8px, 5vw, 1rem); /* Define um tamanho de fonte responsivo */
  font-weight: 600; /* Define o peso da fonte */
  color: white; /* Define a cor do texto do botão */
  background-color: #444; /* Define a cor de fundo do botão */
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000; /* Adiciona sombra ao botão */
}

/* Estiliza o botão quando pressionado */
.button:active {
  box-shadow: inset -4px 4px 0 #222; /* Altera a sombra para dar efeito de pressionado */
  font-size: 0.9rem; /* Reduz o tamanho da fonte ao ser pressionado */
}